In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/predicted_categories.csv")
df.head()

,article,predicted_label,score,ground_truth
0,COVID-19,disease,0.604039,disease
1,COVID-19 pandemic lockdown,lockdown,0.369250,lockdown
2,COVID-19 misinformation,misinformation,0.712013,misinformation
3,COVID-19 misinformation by China,misinformation,0.632717,misinformation
4,COVID-19 pandemic misinformation by governments,misinformation,0.535966,misinformation

In [11]:
df = df.drop(columns=['predicted_label', 'score'])

In [12]:
df_views = pd.read_csv("data/covid_articles_matched_qids.csv")

In [19]:
df_views.drop(columns=['country_code', 'project'])

,date,article,qid,pageviews
0,2023-02-07,Maladie à coronavirus 2019,Q84263196,92
1,2023-02-07,कोरोनाव्हायरस,Q57751738,90
2,2023-02-07,2019冠狀病毒病臺灣疫情,Q84081307,272
3,2023-02-07,2019–20 coronavirus pandemic,Q81068910,714
4,2023-02-07,World Health Organization,Q7817,1278
...,...,...,...,...
129381,2024-12-31,COVID-19 pandemic,Q81068910,2141
129382,2024-12-31,Pandemia de COVID-19,Q81068910,152
129383,2024-12-31,Pandémie de Covid-19 par pays et territoire,Q83741704,202
129384,2024-12-31,Great Reset,Q102232426,154
129385,2024-12-31,Generation Alpha,Q24960388,238

In [ ]:
merged_df = df.merge(
    df_views[['date', 'article', 'pageviews']],
    on='article',
    how='left'
)
merged_df.dropna()

                           article ground_truth        date  pageviews
0                         COVID-19      disease  2023-02-07      317.0
1                         COVID-19      disease  2023-02-08      380.0
2                         COVID-19      disease  2023-02-08      167.0
3                         COVID-19      disease  2023-02-08      367.0
4                         COVID-19      disease  2023-02-13      350.0
...                            ...          ...         ...        ...
50195  Wuhan Institute of Virology     facility  2024-11-29      104.0
50196  Wuhan Institute of Virology     facility  2024-12-17      107.0
50197  Wuhan Institute of Virology     facility  2024-12-21      105.0
50198  Wuhan Institute of Virology     facility  2024-12-28      142.0
50199  Wuhan Institute of Virology     facility  2024-12-31      147.0

[49706 rows x 4 columns]

In [18]:
merged_df.to_csv("data/categories_pageviews.csv")