In [97]:
import pandas as pd
from scipy.signal import find_peaks
import numpy as np

In [48]:
df = pd.read_csv("data/covid_articles_matched_qids.csv")

In [126]:
daily = df.groupby("date")["pageviews"].sum().reset_index()

In [181]:
daily.head()

         date  pageviews
0  2023-02-06      54456
1  2023-02-07      82999
2  2023-02-08      73434
3  2023-02-09      74935
4  2023-02-10      67658

In [ ]:
max_views = daily['pageviews'].max()
print(max_views)
peak_indices, _ = find_peaks(
    daily['pageviews'], 
    prominence=0.01 * max_views # Threshold to find only major events
)

4563030

In [189]:
peak_dates = daily.iloc[peak_indices][['date', 'pageviews']]
peak_dates.sort_values('date', ascending=True)

           date  pageviews
18   2023-02-24    4563030
38   2023-03-16     119616
89   2023-05-06     138934
238  2023-10-02     452966
416  2024-03-28     341858
449  2024-04-30     113863
484  2024-06-04     107939
536  2024-07-26     230077
552  2024-08-11     212994

In [190]:
peak_dates.to_csv("data/known_peaks.csv")